altair
numpy
pandas
pydeck
streamlit
opencv-python-headless
streamlit-drawable-canvas==0.8.0
svgpathtools
svgwrite
scikit-learn
matplotlib
google-cloud-firestore
google-cloud-storage
streamlit-sync
torch
faiss-cpu
tensorflow
scikit-image
PyQt6